.menu_item{
    list-style: none;
    display: flex;
    column-gap: 10px;
}

.menu_lista a{
    text-decoration: none;
    color: #FFF2E7;
    padding: 10px 20px;
    transition: .5s;
}

.menu_lista a:hover{
    color: #2F2325;
}