

.sPrincipal{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    /* border: 1px solid black; */
}
.sPrincipal div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sPrincipal h1{
    font-family: 'Sarala';
    font-size: 40px;
}

.sPrincipal img{
    width: 30%;
    display: block;
}
.sTexto{
    text-align: center;
    /* border: 1px solid black; */
    width: 100%;
    color: white;
    margin: 40px 0px 30px 0px;
    line-height: 40px;
}