@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Sarala&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Sarala', sans-serif;
  
}
body{
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
  
}